@import './utils/utilities';

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}

// CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button, fieldset {
  border: none;
}

body {
  min-height: 100vh;
  background-color: $neutral-color-1;
  font-family: "Plus Jakarta Sans";
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__main {
  padding: 1rem;
  @include device(tablet) {
    max-width: 45.625rem;
    margin: 0 auto;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  @include device(tablet) {
    margin-bottom: 1.9375rem;
  }
}

.header__title {
  font-size: map-get($fonts, "$large");
  font-weight: 800;
  color: #1C202B;
}

.header__read {
  color: $color1;
  font-size: map-get($fonts, "$small");
  font-weight: 500;
  background: none;
  cursor: pointer;
}

.title__number {
  background-color: $color2;
  font-size: map-get($fonts, "$medium");
  border-radius: 6px;
  padding: 0.125rem 0.6875rem;
  font-weight: 800;
  color: $neutral-color-1;
  margin-left: 0.5625rem;
}


.main__notifications {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.notifications__item {
  background-color: $neutral-color-2;
  font-size: map-get($fonts, "$small");
  display: flex;
  align-items: start;
  padding: 1rem;
  border-radius: 8px;
  gap: 13px;
  cursor: pointer;
  img {
    max-width: 2.4375rem;
  }
}

.notification__text {
  color: $color1;
  font-weight: 500;
  &::after {
    display: inline-block;
    content: '';
    background: #E54;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 0.375rem;
  }
}

.notifications__item.read .notification__text::after {
  display: none;
}

.notification__user {
  color: #1C202B;
  font-weight: 800;
  &:hover {
    cursor: pointer;
    color: $color2;
  }
}

.notification__time {
  color: #939CAD;
  font-weight: 500;
  
}

.notification__post {
  color: $color1;;
  font-weight: 700;
  &:hover {
    cursor: pointer;
    color: $color2;
  }
}

.notification__group {
  color: $color2;
  font-weight: 700;
  cursor: pointer;
}

.notification__pvt-msg {
  margin-top: 0.75rem;
  padding: 1rem;
  border: 1px solid #DDE7EE;
  border-radius: 5px;
  color: $color1;;
  font-weight: 500;
  &:hover {
    background-color: #E5EFFA;
  }
}


